
{deps, [
    {rebar_retest_plugin, ".*",
        {git, "git://github.com/hyperthunk/rebar_retest_plugin.git"}},
    {rebar_skip_deps, ".*",
        {git, "git://github.com/hyperthunk/rebar_skip_deps.git"}}
]}.

{plugin_dir, "src"}.
{plugins, [remote_plugin_loader,
           rebar_retest_plugin]}.

{retest_testdir, "inttest"}.
% {retest_verbose, true}.
