
{pre_hooks, [
    {'check-deps', "cp ../src/remote_plugin_loader.erl build/plugins"}
]}.
{post_hooks, [
    {clean, "rm build/plugins/remote_plugin_loader.erl"}
]}.

{plugin_dir, "build/plugins"}.
{plugins, [remote_plugin_loader, 
           rebar_dist_plugin, 
           rebar_alien_plugin,
           rebar_retest_plugin]}.
{plugin_remotes, [
    {rebar_dist_plugin, {"hyperthunk", "0.0.5"}},
    {rebar_retest_plugin, "hyperthunk/master"},
    {rebar_alien_plugin, "https://raw.github.com/hyperthunk/rebar_alien_plugin"
                         "/master/src/rebar_alien_plugin.erl"}
]}.
